<h4 class="mt-5 nav_title mb-3">moca settings</h4>

<nav class="navbar navbar-expand-lg navbar-light pl-0 pr-0 bg-light mb-4">
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto w-50 justify-content-between">

      <li class="nav-item">
        <a class="nav-link"routerLink="#" routerLinkActive="active">Plans</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/show-all-faqs" routerLinkActive="active">FAQs</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="#" routerLinkActive="active">Top Up</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="#" routerLinkActive="active">Policles</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="#" routerLinkActive="active">Wifi</a>
      </li>


    </ul>
  </div>
</nav>
