@import '../../../../styles.scss';
mat-expansion-panel{
  background-color: $purple_color !important;
  border: solid 0.6em transparent;
  border-left-color: $blue_color;
}

// mat-expansion-panel-header{
//   padding: 3% !important;

// }

