
<div class="p-4 bg-white">
  <div class="d-flex justify-content-center mb-4">
    <div class="row d-flex justify-content-end w-100">
      <div class="col-2 pr-0">
        <app-add-faq></app-add-faq>
      </div>
      <div class="col-2 pr-0">
        <app-add-category></app-add-category>
      </div>
    </div>

  </div>

  <!--<div class="d-flex justify-content-end">

        <app-add-faq style="width:20%"></app-add-faq>

        <app-add-category style="width:20%"></app-add-category>



  </div>-->

    <mat-accordion [multi]="true"
      cdkDropList
      #unassignedList="cdkDropList"
      [cdkDropListData]="unassignedTasks"
      (cdkDropListDropped)="drop($event)"
    >
        <mat-expansion-panel class="mb-4"
          cdkDrag
          *ngFor="let task of unassignedTasks"
        >

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ task.title }}
            </mat-panel-title>

          </mat-expansion-panel-header>

            <div class="mt-4">
              <p>1</p>
            </div>
            <div class="mt-4">
              <p>2</p>
            </div>

        </mat-expansion-panel>

    </mat-accordion>
</div>


<!--<style>
  .mat-expanded mat-panel-title {
    display: none;
  }
</style>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header
     collapsedHeight="80px"
     expandedHeight="30px"
>
      <mat-panel-title>
        <div style="max-height: 53px; text-overflow: ellipsis">
       Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
</div>
      </mat-panel-title>

    </mat-expansion-panel-header>
Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>-->

<!--hh-->
<!--<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>This is the content text that makes sense here.</p>
  </mat-expansion-panel>
</mat-accordion>-->
