<div class="p-4 bg-white data-container">
  <!-- Buttons -->
  <div class="d-flex justify-content-center mb-4">
    <div class="row d-flex justify-content-end w-100">
      <div class="col-2 pr-0">
        <app-add-faq [Cotegories_names]="Cotegories_names"></app-add-faq>
        <app-button [btnTitle]="'Add FAQ'" (click)="openModal()" [btnstyle]="'add-faq-btn main_btn_radius'"></app-button>
      </div>
      <div class="col-2 pr-0">
        <app-add-category></app-add-category>
        <app-button [btnTitle]="'Add Category'" (click)="openModal()"  [btnstyle]="'add-category-btn main_btn_radius'"></app-button>
      </div>
    </div>

  </div>

  <h3>Categorized FAQs</h3>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event ,Categorized_Data )">
    <div *ngFor="let category of Categorized_Data ;let i= index" cdkDrag>

      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Update Category</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')">X</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="CategoryForm">
            <input formControlName="name" type="text" placeholder="Category Name">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" [disabled]="!CategoryForm.valid" (click)="EditCategory(category.id)">Update</button>
        </div>
      </ng-template>

      <div [ngClass]="{'rotate_arrow':selectedDivIndex===i}" class="accordion-box mb-3 mt-5 d-flex justify-content-between" (click)="selectedDivIndex=i">
        <div>
            <i class="fas fa-ellipsis-v mr-1"></i>
            <i class="fas fa-ellipsis-v"></i>
            <span class="categoryName ml-2">{{category.name}} </span>
        </div>
        <div>
          <i class="fas fa-pen" (click)="open(content , category.name)"></i>
          <i class="fas fa-trash-alt ml-3" (click)="deleteCategory(category.id)"></i>
          <i class="fas fa-angle-down ml-3"></i>

        </div>
      </div>


      <!--Faq Edit Modal-->
      <ng-template #FaqModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add FAQ</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')">X</button>
        </div>

        <div class="modal-body">
          <!--<select [(ngModel)]="SelectId" type="text" class="form-control mt-3">
                <option selected disabled value='0'> Select Category Name</option>
                <option *ngFor="let categ of Cotegories_names" [value]="categ.id">{{categ.name}}</option>
            </select>-->
          <form [formGroup]="FaqsForm">
              <select formControlName="SelectId" type="text" class="form-control mt-3">
                <option selected disabled value=''> Select Category Name</option>
                <option *ngFor="let categ of Cotegories_names" [value]="categ.id">{{categ.name}}</option>
              </select>
            <input formControlName="question"  class="form-control mt-3"  type="text" placeholder="Question">
            <h4 class="mt-3">Answer</h4>
            <angular-editor [(ngModel)]="RichEditorContent" [config]="config" formControlName="answer"></angular-editor>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" [disabled]="!CategoryForm.valid" (click)="updateFAQ()">Edit faq</button>
        </div>
      </ng-template>

      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event , category.faqs)" *ngIf="selectedDivIndex===i" >

            <div class="white-accordion-box mb-3 d-flex justify-content-between" cdkDrag   *ngFor="let faq of category.faqs ; let i = index">
              <div>
                  <i class="fas fa-ellipsis-v mr-1 faq"></i>
                  <i class="fas fa-ellipsis-v faq"></i>
                  <span class="categoryName ml-2">{{faq.question}} </span>

                  <h3 class="mt-4"> Answer : </h3>
                  <p [innerHTML]="faq.answer"></p>
              </div>
              <div>
                <i class="fas fa-pen" (click)="openEditFaqModal(FaqModal , faq)"></i>
                <i class="fas fa-trash-alt ml-3"></i>
                <i class="fas fa-angle-down ml-3"></i>
               </div>
        </div>
      </div>
    </div>

  </div>


  <h3 class="mt-5 mb-4">nonCategorized FAQs</h3>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event , nonCategorized_Data)">
    <div *ngFor="let noncategoriz of nonCategorized_Data" cdkDrag>

      <div class="white-accordion-box mb-3 d-flex justify-content-between" >
        <div>
            <i class="fas fa-ellipsis-v mr-1 faq"></i>
            <i class="fas fa-ellipsis-v faq"></i>
            <span class="categoryName ml-2">{{noncategoriz.question}} </span>
        </div>
        <div>
          <i class="fas fa-pen"></i>
          <i class="fas fa-trash-alt ml-3"></i>
          <i class="fas fa-angle-down ml-3"></i>

      </div>
      </div>

    </div>

  </div>


