<div class="p-4 bg-white data-container">
  <!-- Buttons -->
  <div class="d-flex justify-content-center mb-4">
    <div class="row d-flex justify-content-end w-100">
      <div class="col-2 pr-0">
        <app-button [btnTitle]="'Add FAQ'" (click)="openModal(Add_Faqs_Modal_Data)" [btnstyle]="'add-faq-btn main_btn_radius'"></app-button>
      </div>
      <div class="col-2 pr-0">
        <app-button [btnTitle]="'Add Category'" (click)="openModal(Add_Category_Modal_Data)"  [btnstyle]="'add-category-btn main_btn_radius'"></app-button>
      </div>
    </div>

  </div>

  <h3>Categorized FAQs</h3>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event ,Categorized_Data )">
    <div *ngFor="let category of Categorized_Data ;let i= index" cdkDrag>


      <div [ngClass]="{'rotate_arrow':selectedDivIndex===i}" class="accordion-box mb-3 mt-5 d-flex justify-content-between" (click)="selectedDivIndex=i">
        <div>
            <i class="fas fa-ellipsis-v mr-1"></i>
            <i class="fas fa-ellipsis-v"></i>
            <span class="categoryName ml-2">{{category.name}} </span>
        </div>
        <div>
          <i class="fas fa-pen" (click)="openModal(Edit_Category_Modal_Data , {name:category.name , id:category.id})"></i>
          <i class="fas fa-trash-alt ml-3" (click)="deleteCategory(category.id)"></i>
          <i class="fas fa-angle-down ml-3"></i>

        </div>
      </div>



      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event , category.faqs)" *ngIf="selectedDivIndex===i" >

            <div class="white-accordion-box mb-3 d-flex justify-content-between" cdkDrag   *ngFor="let faq of category.faqs ; let i = index">
              <div>
                  <i class="fas fa-ellipsis-v mr-1 faq"></i>
                  <i class="fas fa-ellipsis-v faq"></i>
                  <span class="categoryName ml-2">{{faq.question}} </span>

                  <h3 class="mt-4"> Answer : </h3>
                  <p [innerHTML]="faq.answer"></p>
              </div>
              <div>
                <i class="fas fa-pen" (click)="openModal(Edit_Faqs_Modal_Data,{id:faq.id , question:faq.question , answe:faq.answer})"></i>
                <i class="fas fa-trash-alt ml-3" (click)="deleteFAQ(faq.id)"></i>
                <i class="fas fa-angle-down ml-3"></i>
               </div>
        </div>
      </div>
    </div>

  </div>


  <h3 class="mt-5 mb-4">nonCategorized FAQs</h3>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event , nonCategorized_Data)">
    <div *ngFor="let noncategoriz of nonCategorized_Data" cdkDrag>

      <div class="white-accordion-box mb-3 d-flex justify-content-between" >
        <div>
            <i class="fas fa-ellipsis-v mr-1 faq"></i>
            <i class="fas fa-ellipsis-v faq"></i>
            <span class="categoryName ml-2">{{noncategoriz.question}} </span>
        </div>
        <div>
          <i class="fas fa-pen"></i>
          <i class="fas fa-trash-alt ml-3" (click)="deleteFAQ(noncategoriz.id)"></i>
          <i class="fas fa-angle-down ml-3"></i>

      </div>
      </div>

    </div>

  </div>


